<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/freshly_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Freshly"
        tools:targetApi="31"
        tools:ignore="DataExtractionRules">
        
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Freshly.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />
        
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />
            
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />
            
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly"
            tools:ignore="MissingClass" />
            
        <activity
            android:name=".ui.marketplace.MarketplaceActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly"
            tools:ignore="MissingClass" />

        <activity
            android:name=".ui.product.ProductDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />

        <activity
            android:name=".ui.checkout.PaymentMethodActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />
        <activity
            android:name=".ui.checkout.CardPaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />
        <activity
            android:name=".ui.checkout.PaymentSuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />
        <activity
            android:name=".ui.checkout.OrderConfirmedActivity"
            android:exported="false"
            android:theme="@style/Theme.Freshly" />

    </application>

</manifest>